@model IEnumerable<AkhilD_301057929.Models.Course>






<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coursePre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coursePre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.courseCode">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.courseCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
